nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header.main-header
      a.navbar-brand(href='/') E-Commerce
      .navbar-right.cart-status
        p
          i.glyphicon.glyphicon-shopping-cart
          a(href="/products") (#{ numberOfProducts ? numberOfProducts : 0 })
           