doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ecommerce
        //- title= titulo   
    body
        h1 Para mostrar y comprar productos se requiere logueo
        //- h1 Para mostrar y comprar #{nombre}
        br
        div 
        form(action="post")
        label(for="email") Ingresa Email   
        input(type="email" id="email" placeholder="Email")
        div 
        label(for="password") Ingresa Password   
        input(type="password" id="password" placeholder="Password")
        br
        br
        div 
        button(type="submit") Submit 