h1 Ingresa tus datos para acceder a la pagina
form(action="",method="POST", )
label(for="email" autocomplete="off") Ingresa tu email
input#email(type="email", name="email")
label(for="password" autocomplete="off") Ingresa tu password
input#password(type="text", name="password")
br    
button(type="submit") Submit