table.table.table-striped
    tr
    th Name
    th Price
    th thumbnail
    th category
    th descripcion
    th stock

- var ProductosDB

    each ProductosDB in ProductosDB
        Name=ProductosDB.name




