extends ./layout
block register
	h2 Ingresa tus datos para el registro

		form(action="/feedback_form",method="POST")
			input#nickname(type="text", name="nickname")
			label(for="nickname") Ingresa tu nickname
			label(for="email") Ingresa tu email
			input#email(type="email", name="email")
			label(for="password") Ingresa tu password
			input#password(type="text", name="password")
			label(for="direccion") Ingresa tu direccion
			input#direccion(type="text", name="direccion")
			label(for="avatar") Selecciona avatar
			input#avatar(type="file", name="avatar")
               
			button(type="submit") Submit